Repository ritscc/soukai-2023-1, pull requests merged in 2023-09, with the labels that each got.

#60 運営方針を執筆
  src/houshin/zentai/02_unei.tex
Labels: 方針, 全体

#61 研推全体総括書きました
  src/soukatsu/kensui/01_zentai.tex
Labels: 総括, 研究推進局

#62 研推プロジェクト総括書きました
  src/soukatsu/kensui/02_project.tex
Labels: 総括, 研究推進局

#63 研推LT総括
  src/soukatsu/kensui/03_LT.tex
Labels: 総括, 研究推進局

#64 総務局の全体総括を執筆しました
  src/soukatsu/soumu/01_zentai.tex
Labels: 総括, 総務局

#65 総務局の風紀業務総括を執筆しました
  src/soukatsu/soumu/02_huuki.tex
Labels: 総括, 総務局

#66 総務局の掃除業務総括を執筆しました
  src/soukatsu/soumu/03_souzi.tex
Labels: 総括, 総務局

#67 総務局の書記業務総括を執筆しました
  src/soukatsu/soumu/04_syoki.tex
Labels: 総括, 総務局

#68 総務局の会内行事総括を執筆しました
  src/soukatsu/soumu/05_gyozi.tex
Labels: 総括, 総務局

#69 総務局の備品業務総括を執筆しました
  src/soukatsu/soumu/06_bihin.tex
Labels: 総括, 総務局

#70 総務局の全体方針を執筆しました
  src/houshin/soumu/01_zentai.tex
Labels: 方針, 総務局

#71 総務局の風紀業務方針を執筆しました
  src/houshin/soumu/02_huuki.tex
Labels: 方針, 総務局

#72 総務局の掃除業務方針を執筆しました
  src/houshin/soumu/03_souzi.tex
Labels: 方針, 総務局

#73 総務局の書記業務方針を執筆しました
  src/houshin/soumu/04_syoki.tex
Labels: 方針, 総務局

#74 総務局の会内業務方針を執筆しました
  src/houshin/soumu/05_gyozi.tex
Labels: 方針, 総務局

#75 総務局の備品業務方針を執筆しました
  src/houshin/soumu/06_bihin.tex
Labels: 方針, 総務局

#76 総括書きました
  src/soukatsu/zentai/05_ritumeihouse.tex
Labels: 総括, 全体

#77 1回生方針を執筆
  src/houshin/1kai.tex
Labels: 方針, 回生

#78 執筆
  src/houshin/zentai/01_zentai.tex
Labels: 方針, 全体

#79 執筆
  src/soukatsu/zentai/01_zentai.tex
Labels: 総括, 全体

#81 全体新歓総括を執筆
  src/soukatsu/zentai/03_shinkan.tex
Labels: 総括, 全体

#84 財務方針を執筆
  src/houshin/kaikei/02_zaimu.tex
Labels: 方針

#85 会計全体方針を執筆
  src/houshin/kaikei/01_zentai.tex
Labels: 方針

#86 財政方針を執筆
  src/houshin/kaikei/03_zaisei.tex
Labels: 方針

#87 会計全体総括を執筆
  src/soukatsu/kaikei/01_zentai.tex
Labels: 総括

#88 財務総括を執筆
  src/soukatsu/kaikei/02_zaimu.tex
Labels: 総括

#89 財政総括を執筆
  src/soukatsu/kaikei/03_zaisei.tex
Labels: 総括

#90 3回生総括を執筆
  src/soukatsu/3kai.tex
Labels: 総括, 回生

#91 3回生方針を執筆しました
  src/houshin/3kai.tex
Labels: 方針, 回生

#92 運営総括を執筆
  src/soukatsu/zentai/02_unei.tex
Labels: 総括, 全体

#93 シス管局会議総括を執筆
  src/soukatsu/system/02_kyokukaigi.tex
Labels: 総括, システム管理局

#94 シス管引継ぎ方針を執筆
  src/houshin/system/05_hikitsugi.tex
Labels: 方針, システム管理局

#96 1回生総括を執筆
  src/soukatsu/1kai.tex
Labels: 総括, 回生

#95 シス管新局員方針を執筆
  src/houshin/system/06_sinkyokuin.tex
Labels: 方針, システム管理局

#116 Woo/houshin/system/study
  src/houshin/system/03_study.tex
Labels: 方針, システム管理局

#115 Woo/soukatsu/system/study
  src/soukatsu/system/03_study.tex
Labels: 総括, システム管理局

#114 Woo/soukatsu/2kai
  src/soukatsu/2kai.tex
Labels: 総括, 回生

#113 Woo/soukatsu/system/zentai
  src/soukatsu/system/01_zentai.tex
Labels: 総括, システム管理局

#112 Woo/soukatsu/system/hikitugi
  src/soukatsu/system/05_hikitugi.tex
Labels: 総括, システム管理局

#111 Woo/houshin/2kai
  src/houshin/2kai.tex
Labels: 方針, 回生

#110 Woo/houshin/system/zentai
  src/houshin/system/01_zentai.tex
Labels: 方針, システム管理局

#109 Woo/houshin/system/kyokukaigi
  src/houshin/system/02_kyokukaigi.tex
Labels: 方針, システム管理局

#105 書きました
  src/houshin/kensui/03_LT.tex
Labels: 方針, 研究推進局

#101 シス管サーバ管理方針を執筆
  src/houshin/system/04_server.tex
Labels: 方針, システム管理局

#102 シス管サーバ管理総括を執筆
  src/soukatsu/system/04_server.tex
Labels: 総括, システム管理局

#104 書きました
  src/houshin/kensui/02_project.tex
Labels: 方針, 研究推進局

#103 書きました
  src/houshin/kensui/01_zentai.tex
Labels: 方針, 研究推進局

#80 渉外文章執筆
  src/houshin/syogai/01_zentai.tex
  src/houshin/syogai/02_adokare.tex
  src/houshin/syogai/03_kyokukaigi.tex
  src/houshin/syogai/04_twitter.tex
  src/houshin/syogai/05_web.tex
  src/soukatsu/syogai/01_zentai.tex
  src/soukatsu/syogai/02_kyokukaigi.tex
  src/soukatsu/syogai/03_twitter.tex
  src/soukatsu/syogai/04_web.tex
Labels: 方針, 総括, 渉外局

#107 Project 総括執筆
  src/soukatsu/zentai/04_project.tex
Labels: 総括, 全体

#108 Project方針
  src/houshin/zentai/03_project.tex
Labels: 方針, 総括, 全体, 渉外局

#118 Obog会書きました
  src/soukatsu/zentai/06_obogkai.tex
Labels: 総括, 全体

#119 github actionsが提示した問題を修正
  src/houshin/soumu/03_souzi.tex
  src/houshin/zentai/03_project.tex
  src/soukatsu/zentai/04_project.tex
Labels: 方針, 総括, 全体, 総務局
